html {
    background: linear-gradient(124deg, #1ddde8, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

#rainbow{
    height: 90vh;
    width: 90%;
    justify-content: center;
    display: flex;
}

.center {
    position: absolute;
    top: 50%;
}

#pressme {
    transition: 0.3s ease-in-out;
    position: absolute;
    margin: 0 10px;
    padding: 10px 30px;
    border: 0;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 30px;
    box-shadow: 0.5px 0.5px 1px #000000;
    font-family:'Oswald',sans-serif;font-size:15px;font-style:normal;font-weight:400;text-transform:uppercase;padding:0;margin:-5px 0 -3px 0;text-align:center;letter-spacing:.05em;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-backface-visibility:hidden;backface-visibility:hidden
}

#pressme:hover {
    box-shadow: 2px 2px 4px #000000;
    transform: scale(1.1);
}
